# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
ios/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# secret files
.env
android/app/src/main/res/values/strings.xml
android/app/src/dev/res/values/strings.xml
android/app/src/prod/res/values/strings.xml

#shorebird releated
shorebird.yaml
docs/SHOREBIRD_DEPLOY_GUIDE.md

# google-services files
android/app/src/dev/google-services.json
android/app/src/prod/google-services.json
ios/Runner/GoogleService-Info-Dev.plist
ios/Runner/GoogleService-Info-Prod.plist


# local playground
lib/src/playground.dart
Makefile

# Claude local settings
.claude/settings.local.json
**/CLAUDE.md

#android playstore
android/app/bitepick-release.keystore
android/fastlane/google-play-service-account.json
shorebird.yaml.bak
android/fastlane/report.xml
android/fastlane/README.md
ios/Flutter/Dev.xcconfig
ios/Flutter/Prod.xcconfig
ios/fastlane/README.md
ios/fastlane/report.xml
