//
//  Secret.xcconfig
//  Runner
//
//  Created by 민서 on 11/5/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// Naver Login Configuration
NAVER_SERVICE_URL_SCHEME=naverBVHH2fcyVFbjZQFCNMY7
NAVER_CONSUMER_ID=BVHH2fcyVFbjZQFCNMY7
NAVER_CLIENT_SECRET=Lhpj63W9LZ
NAVER_APP_NAME=magambell
